:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  outline: none;
}

body {
  margin: 0;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  margin: 5px;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  min-width: fit-content;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.header-container {
  margin-top: 50px;
  margin-left: 50px;
  font-weight: 500;
  font-size: 48px;
  color: rgb(224, 224, 224);
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  gap: 50px;
  .board-container {
    display: flex;
    flex-direction: column;
    min-width: 450px;
    min-height: 250px;
    border: 5px solid;
    background-color: #141414;

    font-size: 28px;
    align-items: center;
  }
}

.modal-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  width: 600px;
  border-radius: 25px;
  background-color: #ffffff;
  color: #1a1a1a;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.697);

  .form-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    .title-discrip {
      display: flex;
      flex-direction: column;
      padding: 0 60px;
      align-items: center;
      gap: 1em;
      .description {
        margin: 0;
        border: none;
        border-bottom: 4px solid black;
        background-color: white;
        color: #141414;
        width: 100%;
        font-size: 24px;
        text-align: center;
      }
      .input-text {
        width: 100%;
        border: none;
        background-color: #ffffff;
        color: #141414;
        border-bottom: 4px solid black;
        font-size: 24px;
        text-align: center;
      }
    }
    .close-btn {
      display: flex;
      align-self: flex-end;
    }
    .priotity-container {
      display: flex;
      flex-direction: column;
      padding: 0 60px;
      margin: 60px 0px;
      gap: 1em;
      .priority-pair {
        display: flex;
        align-items: center;
        gap: 1em;
      }
    }
  }
}
input[type='radio'] {
  height: 40px;
  width: 40px;
  margin: 0;
}

@mixin task-container($color) {
  display: flex;
  flex-direction: column;
  min-width: 450px;
  max-width: 450px;
  min-height: 180px;
  margin: 10px;
  background-color: $color;
}

.task-container.medium {
  @include task-container(rgb(142, 109, 233));
}

.task-container.high {
  @include task-container(rgb(233, 99, 99));
}

.task-container.low {
  @include task-container(rgb(63, 226, 96));
}

.task-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: 20px;
  border-bottom: 2px solid #141414;
}

.task-description {
  padding: 5px;
}

.updating {
  border: #ffffff 2px solid;
  padding: 5px;
  color: black;
  line-break: anywhere;
}

.defoult {
  padding: 5px;
  color: black;
  line-break: anywhere;
}

.choose-priority {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
